.ehxd_dashboard_overview {

    .ehxd_overview_card_warper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        margin: 30px;

        .ehxd_menu_item_card {
            background: #fff;
            padding: 10px 20px;
            border-radius: 8px;
            display: flex;
            gap: 20px;
            align-items: center;

            .ehxd_icon {
                border-radius: 6px;
                padding: 8px;
                background:$ehxd-dark-800;
                font-size: 25px;
                color:$ehxd_background_color_white ;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .ehxd_title {
                margin: 0;
                font-size: 12px;
                color: $ehxd-dark-300;
            }

            .ehxd_total {
                font-size: 16px;
                font-weight: 500;
                color: $ehxd-dark-700;
                margin: 0px;
            }
            .ehxd_view_all{
                color: $ehxd-link-color;
                font-size: 12px;
                text-decoration: underline !important;
            }
        }
    }
}